Repository TUM-Dev/NavigaTUM, pull requests merged in 2022-02, with the labels that each got.

#23 Combined bugfixes
  data/processors/roomfinder.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
  webclient/src/variables.scss
  webclient/src/views/view/view-view.scss
Labels: bug, frontend, data

#28 Added a bunch of synonyms
  data/search_synonyms.json
Labels: enhancement, data

#29 Minor restyling of the search results
  webclient/src/index.html
  webclient/src/modules/autocomplete.js
  webclient/src/views/search/view-search.inc
  webclient/src/views/search/view-search.js
  webclient/src/views/search/view-search.scss
Labels: enhancement, frontend

#36 Added site and campus tags to two things in the areatree
  data/sources/00_areatree
Labels: enhancement, data

#38 moved all static vendors into npm for better dependency management
  webclient/README.md
  webclient/gulpfile.js
  webclient/package.json
  webclient/vendor/vue-router.js
  webclient/vendor/vue-router.min.js
  webclient/vendor/vue.js
  webclient/vendor/vue.min.js
  webclient/vendor/whatwg-fetch-3.6.2.umd.js
Labels: enhancement, frontend

#32 Added a custom maps style
  webclient/README.md
  webclient/config-local.js
  webclient/gulpfile.js
  webclient/package.json
  webclient/src/modules/interactive-map.js
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
  webclient/vendor/leaflet-1.7.1.css
  webclient/vendor/leaflet-1.7.1.min.js
  webclient/vendor/leaflet-gesture-handling-1.2.1.min.css
  webclient/vendor/leaflet-gesture-handling-1.2.1.min.js
Labels: enhancement, frontend
