Repository TUM-Dev/NavigaTUM, pull requests merged in 2022-05, with the labels that each got.

#90 Maps Sortation and deduplication
  data/processors/maps.py
Labels: bug, data

#84 Overlay maps
  data/compile.py
  data/data_format_geo-entry.yaml
  data/processors/maps.py
  data/sources/46_overlay-maps.yaml
  data/sources/img/maps/overlay/5532_0.webp
  data/sources/img/maps/overlay/5532_1.webp
  data/sources/img/maps/overlay/5532_2.webp
  data/sources/img/maps/overlay/5532_3.webp
  data/sources/img/maps/overlay/mi_-1.webp
  data/sources/img/maps/overlay/mi_0.webp
  data/sources/img/maps/overlay/mi_1.webp
  data/sources/img/maps/overlay/mi_2.webp
  data/sources/img/maps/overlay/mi_3.webp
  data/sources/img/maps/overlay/mi_4.webp
  webclient/src/modules/interactive-map.js
  webclient/src/views/view/i18n-view.yaml
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Labels: feature, frontend, data

#96 changed the path parameter search_query into the query-parameter q
  README.md
  openapi.yaml
  resources/deployment/Deployment_Overview.json
  resources/deployment/Deployment_Overview.svg
  server/src/main.rs
  server/src/search.rs
  server/test/search_test.py
  webclient/nginx.conf
  webclient/src/core.js
  webclient/src/modules/autocomplete.js
  webclient/src/views/search/view-search.js
Labels: server, frontend

#79 OpenAPI Docs
  README.md
  data/data_format_event.yaml
  data/processors/images.py
  data/processors/maps.py
  openapi.yaml
  resources/deployment/Deployment_Overview.json
  resources/deployment/Deployment_Overview.svg
  server/README.md
  server/src/feedback.rs
  server/src/main.rs
  server/src/search.rs
  server/test/search_test.py
  webclient/nginx.conf
  webclient/src/core.js
  webclient/src/md/api.md
  webclient/src/modules/autocomplete.js
  webclient/src/views/search/view-search.js
  webclient/src/views/view/view-view.inc
Labels: documentation, server

#98 Generate sitemap
  data/compile.py
  data/nginx.conf
  data/processors/sitemap.py
  data/requirements.txt
  webclient/gulpfile.js
  webclient/nginx.conf
  webclient/package.json
  webclient/src/.well-known/robots.txt
Labels: feature, deployment, frontend, data

#85 Added the ability to have a GeolocateControl in our map.
  webclient/src/md/privacy.md
  webclient/src/modules/interactive-map.js
Labels: frontend

#102 Improve display of results in search for searches by arch name
  openapi.yaml
  server/src/search.rs
Labels: search

#108 Image-showcase
  webclient/src/views/view/i18n-view.yaml
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Labels: feature, frontend

#110 Improved Polyfill loading
  webclient/gulpfile.js
  webclient/src/detect-webp.js
  webclient/src/index.html
  webclient/src/legacy.js
Labels: frontend

#118 re-enabled a limited form of of coodinate check
  data/compile.py
  data/processors/check.py
  data/processors/maps.py
Labels: data

#120 Coordinate picker
  webclient/src/core.js
  webclient/src/feedback.js
  webclient/src/i18n.yaml
  webclient/src/index.html
  webclient/src/main.scss
  webclient/src/modules/interactive-map.js
  webclient/src/variables.scss
  webclient/src/views/view/.view-site.inc.kate-swp
  webclient/src/views/view/i18n-view.yaml
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Labels: feature, frontend

#124 Bugfix: Wrong default
  data/compile.py
  data/processors/maps.py
  data/processors/roomfinder.py
Labels: bug, data

#117 Data-Logging
  data/compile.py
  data/processors/areatree.py
  data/processors/images.py
  data/processors/maps.py
  data/processors/patch.py
  data/processors/roomfinder.py
  data/processors/sitemap.py
  data/processors/structure.py
  data/processors/tumonline.py
Labels: feature, data

#104 Server modules
  server/Cargo.toml
  server/src/core/get.rs
  server/src/core/mod.rs
  server/src/core/search/mod.rs
  server/src/core/search/search_executor/meilisearch.rs
  server/src/core/search/search_executor/mod.rs
  server/src/core/search/search_executor/postprocess.rs
  server/src/core/search/search_executor/preprocess.rs
  server/src/feedback.rs
  server/src/main.rs
  server/src/search.rs
Labels: server

#123 Consistent image paths
  data/Dockerfile
  data/external/downloader.py
  data/external/main.py
  data/processors/maps.py
  data/sources/img/maps/roomfinder/5532_0.webp
  data/sources/img/maps/roomfinder/5532_1.webp
  data/sources/img/maps/roomfinder/5532_2.webp
  data/sources/img/maps/roomfinder/5532_3.webp
  openapi.yaml
  regen.sh
  webclient/README.md
  webclient/src/views/view/view-view.inc
Labels: frontend, data

#129 Fixed map assignment
  data/compile.py
  data/processors/coords.py
  data/processors/maps.py
Labels: bug, data
