Repository TUM-Dev/NavigaTUM, pull requests merged in 2022-08, with the labels that each got.

#179 API highlight control
  openapi.yaml
  server/src/core/search/mod.rs
  server/src/core/search/search_executor/meilisearch.rs
  server/src/core/search/search_executor/mod.rs
  server/src/core/search/search_executor/postprocess.rs
  webclient/src/modules/autocomplete.js
Labels: server, frontend, search

#185 Api Documentation
  README.md
  webclient/gulpfile.js
  webclient/nginx.conf
  webclient/package.json
  webclient/src/core.js
  webclient/src/index.html
  webclient/src/md/api.md
  webclient/src/views/api/i18n-api.yaml
  webclient/src/views/api/view-api.inc
  webclient/src/views/api/view-api.js
  webclient/src/views/api/view-api.scss
Labels: documentation, feature, frontend

#190 Add possibility to add links to entries and add some links
  data/compile.py
  data/processors/export.py
  data/processors/sections.py
  data/sources/01_areas-extended.yaml
  openapi.yaml
  webclient/src/views/view/i18n-view.yaml
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.scss
Labels: frontend, data

#196 Show the campus in the search subtext and add short names for buildings etc.
  data/processors/areatree.py
  data/processors/export.py
  data/sources/00_areatree
  server/configure_MeileSearch.sh
  server/src/core/search/search_executor/meilisearch.rs
  server/src/core/search/search_executor/postprocess.rs
Labels: server, data, search

#201 Added a Tileserver
  .github/workflows/server.yml
  README.md
  data/README.md
  data/processors/export.py
  deployment/kubernetes/ingress/ingress.yaml
  deployment/kubernetes/ingress/stripprefix-middleware.yaml
  deployment/kubernetes/server/maps-deployment.yaml
  deployment/kubernetes/service.yaml
  deployment/kubernetes/volumes/tileserver.yaml
  map/.gitignore
  map/README.md
  map/config.json
  map/styles/osm_liberty.json
  resources/deployment/Deployment_Overview.json
  resources/deployment/Deployment_Overview.png
  resources/deployment/Deployment_Overview.svg
  resources/deployment/Flowchart.json
  resources/deployment/Flowchart.png
  resources/deployment/Flowchart.svg
  resources/documentation/maputnik-import1.png
  resources/documentation/maputnik-import2.png
  server/README.md
  server/src/core/search/search_executor/postprocess.rs
  webclient/README.md
Labels: deployment
