Repository TUM-Dev/NavigaTUM, pull requests merged in 2022-10, with the labels that each got.

#218 localised `type_common_name` and `usage`
  data/processors/export.py
  data/processors/sections.py
  data/processors/structure.py
  data/processors/tumonline.py
  data/translations.yaml
  data/utils.py
Labels: bug, data

#231 inlined structuredClone
  webclient/src/core.js
Labels: bug, frontend

#233 Changed user location dot color to #3070B3
  webclient/src/views/view/view-view.scss
Labels: frontend

#212 migration to nav.tum.de
  .github/workflows/deploy.yaml
  README.md
  data/processors/sitemap.py
  deployment/k3s/Chart.yaml
  deployment/k3s/templates/application.yaml
  deployment/k3s/templates/deployments/maps-deployment.yaml
  deployment/k3s/templates/ingress/https-cert.yaml
  deployment/k3s/templates/ingress/ingress.yaml
  deployment/k3s/templates/ingress/nav-tum-de-redirect.yaml
  deployment/k3s/values.yaml
  map/config.json
  openapi.yaml
  server/Dockerfile.mielesearch
  server/Dockerfile.server
  webclient/README.md
  webclient/config.js
  webclient/gulpfile.js
  webclient/nginx.conf
  webclient/src/.well-known/robots.txt
  webclient/src/.well-known/security.txt
  webclient/src/index.html
Labels: feature, deployment, blocked

#243 Separated Coordinate Handling
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/02_rooms-extended.yaml
  webclient/src/views/view/view-view.js
Labels: data, priority: high

#256 Darkmode lang/theme selector
  webclient/src/main.scss
  webclient/src/variables.scss
Labels: bug, frontend

#255 Campus Weinstephan
  data/sources/00_areatree
Labels: data
