Repository TUM-Dev/NavigaTUM, pull requests merged in 2022-11, with the labels that each got.

#259 Remove API lang cookie
  openapi.yaml
  server/src/core/get.rs
  server/src/main.rs
  server/src/maps/mod.rs
  server/src/utils.rs
  webclient/src/core.js
Labels: bug, server, javascript

#268 Improved docs
  README.md
  data/README.md
  map/README.md
  resources/documentation/Dependencys.md
  server/README.md
  webclient/README.md
Labels: priority: high

#269 Try to fix the share menu not opening on Safari
  webclient/src/views/view/view-view.inc
Labels: bug, javascript

#273 Robust previews
  server/src/maps/logo-card.png
  server/src/maps/mod.rs
Labels: bug, server

#306 Stateless feedback
  deployment/README.md
  deployment/k3s/templates/application.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/values.yaml
  openapi.yaml
  server/Cargo.toml
  server/src/feedback.rs
  server/src/feedback/github.rs
  server/src/feedback/mod.rs
  server/src/feedback/tokens.rs
  server/src/main.rs
Labels: feature, server, priority: high
