Repository TUM-Dev/NavigaTUM, pull requests merged in 2023-05, with the labels that each got.

#509 [POI-1] Add basic POI support in the data
  data/README.md
  data/compile.py
  data/processors/coords.py
  data/processors/poi.py
  data/processors/sections.py
  data/processors/sitemap.py
  data/processors/structure.py
  data/sources/21_pois.yaml
  data/sources/_07_pois-not-implemented-yet.yaml
  data/sources/coordinates/poi.yaml
  data/translations.yaml
  openapi.yaml
  webclient/src/core.js
  webclient/src/views/view/view-view.js
Labels: data

#500 Rust workspace
  .github/workflows/ci.yml
  server/.dockerignore
  server/.gitignore
  server/Cargo.lock
  server/Cargo.toml
  server/calendar/Cargo.lock
  server/calendar/Cargo.toml
  server/calendar/Dockerfile.server
  server/feedback/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/Dockerfile
  server/main-api/.dockerignore
  server/main-api/Cargo.toml
  server/main-api/Dockerfile.dbinit
  server/main-api/Dockerfile.msinit
  server/main-api/Dockerfile.server
Labels: server

#598 [Search-Refactoring-2] `reqwest` based main api
  openapi.yaml
  server/calendar/Cargo.toml
  server/feedback/Cargo.toml
  server/main-api/Cargo.toml
  server/main-api/src/core/search/mod.rs
  server/main-api/src/maps/fetch_tile.rs
Labels: server, search

#522 [SEO-2] Microdata
  webclient/index.html
  webclient/public/org_logo.svg
Labels: frontend

#538 Better 404 handling for missing rooms
  webclient/src/composables/fetch.ts
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/router.ts
  webclient/src/views/DetailsView.vue
Labels: frontend, priority: high

#610 Vue3 Frontent Tests
  webclient/.gitignore
  webclient/README.md
  webclient/cypress.config.ts
  webclient/cypress/e2e/feedback.cy.ts
  webclient/cypress/e2e/frontpage.cy.ts
  webclient/cypress/e2e/search.cy.ts
  webclient/cypress/fixtures/feedback_response.json
  webclient/cypress/fixtures/feedback_token.json
  webclient/cypress/support/commands.ts
  webclient/cypress/support/e2e.ts
  webclient/package.json
  webclient/src/App.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/tsconfig.json
Labels: priority: high

#470 [continous-quality-tests-1] Refactored current quality tests to be typesave
  server/main-api/test/printer.py
  server/main-api/test/search_quality_test.py
  server/main-api/test/search_test.py
  server/main-api/test/test-queries.yaml
Labels: server

#639 Addition of Sentry for Frontend Observabiltiy
  webclient/package.json
  webclient/src/main.ts
Labels: priority: high
