Repository TUM-Dev/NavigaTUM, pull requests merged in 2023-01, with the labels that each got.

#334 [Cal-1] migration from russql to Diesel
  server/Cargo.toml
  server/diesel.toml
  server/load_api_data_to_db.py
  server/src/core/get.rs
  server/src/core/legacy_redirect.rs
  server/src/main.rs
  server/src/maps/mod.rs
  server/src/models.rs
  server/src/schema.rs
  server/src/utils.rs
Labels: server

#339 [Cal-2] Server Statistics utitlity
  server/src/utils/mod.rs
  server/src/utils/statistics.rs
Labels: server, blocked

#340 [Cal-3] Calendar scraper
  data/processors/export.py
  data/processors/sections.py
  server/Cargo.toml
  server/load_api_data_to_db.py
  server/src/calendar/continous_scraping.rs
  server/src/calendar/mod.rs
  server/src/calendar/tumonline_calendar.rs
  server/src/main.rs
  server/src/models.rs
  server/src/schema.rs
Labels: server, blocked

#372 Switch to MapLibre GL
  webclient/gulpfile.js
  webclient/package.json
  webclient/src/md/datenschutz.md
  webclient/src/md/privacy.md
  webclient/src/modules/interactive-map.js
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Labels: frontend, priority: high

#371 made sure that unicode splits dont cause unwraps
  server/Cargo.toml
  server/src/core/search/search_executor/postprocess.rs
Labels: bug, server, priority: high

#324 [Cal-5] Calendar API
  calendar/README.md
  calendar/src/calendar.rs
  calendar/src/main.rs
  calendar/src/scraping/continous_scraping.rs
  calendar/src/scraping/mod.rs
  deployment/k3s/templates/ingress/ingress.yaml
  deployment/k3s/templates/service.yaml
  openapi.yaml
Labels: server
