Repository TUM-Dev/NavigaTUM, pull requests merged in 2023-02, with the labels that each got.

#367 Reduced sourcecode handler
  calendar/Dockerfile
  calendar/src/main.rs
  deployment/k3s/templates/deployments/backend/calendar-deployment.yaml
  deployment/k3s/templates/deployments/backend/feedback-deployment.yaml
  deployment/k3s/templates/deployments/backend/server-deployment.yaml
  feedback/Dockerfile
  feedback/src/main.rs
  openapi.yaml
  server/Dockerfile.server
  server/src/main.rs
Labels: server

#355 [NAT-2] Extra/Explanatory information field
  openapi.yaml
  webclient/src/core.js
  webclient/src/index.html
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Labels: frontend

#388 preview debugging experience
  server/main-api/Cargo.toml
  server/main-api/src/maps/fetch_tile.rs
Labels: server

#389 [preview-1] Extracts `TextOverlays` into its file
  server/main-api/src/maps/fetch_tile.rs
  server/main-api/src/maps/mod.rs
  server/main-api/src/maps/overlay_map.rs
  server/main-api/src/maps/overlay_text.rs
Labels: server

#390 [preview-2] Fixed missing truncation on preview images
  server/main-api/src/maps/mod.rs
Labels: server

#385 `calendar`-`data` dependency reduction
  .github/workflows/ci.yml
  README.md
  deployment/k3s/templates/deployments/backend/calendar-deployment.yaml
  server/README.md
  server/calendar/Dockerfile.dbinit
  server/calendar/Dockerfile.server
  server/calendar/README.md
  server/calendar/init_db.py
  server/calendar/src/schema.rs
  server/calendar/src/scraping/continous_scraping.rs
  server/calendar/src/scraping/main_api.rs
  server/calendar/src/scraping/mod.rs
  server/calendar/src/utils/mod.rs
  server/main-api/Dockerfile.dbinit
  server/main-api/load_api_data_to_db.py
  server/main-api/src/core/mod.rs
  server/main-api/src/core/search/search_executor/meilisearch.rs
  server/main-api/src/internal/list.rs
  server/main-api/src/internal/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/schema.rs
Labels: server

#317 Automated Ansible Setup
  deployment/README.md
  deployment/ansible/.gitignore
  deployment/ansible/group_vars/all.yml
  deployment/ansible/hosts.ini
  deployment/ansible/roles/common/handlers/main.yml
  deployment/ansible/roles/common/tasks/_unatended_upgrades.yml
  deployment/ansible/roles/common/tasks/fail2ban.yml
  deployment/ansible/roles/common/tasks/main.yml
  deployment/ansible/roles/common/tasks/settings.yml
  deployment/ansible/roles/common/tasks/ssh.yml
  deployment/ansible/roles/common/tasks/ufw.yml
  deployment/ansible/roles/common/templates/50unattended-upgrades.j2
  deployment/ansible/roles/common/templates/authorized_keys.j2
  deployment/ansible/roles/common/templates/jail.local.j2
  deployment/ansible/roles/common/templates/lrz-base-automatic-reboot.j2
  deployment/ansible/roles/common/templates/sshd_config.j2
  deployment/ansible/roles/k8s/handlers/.gitkeep
  deployment/ansible/roles/k8s/tasks/components/argocd.yml
  deployment/ansible/roles/k8s/tasks/components/cert-manager.yml
  deployment/ansible/roles/k8s/tasks/components/kuma.yml
  deployment/ansible/roles/k8s/tasks/k3s_network.yml
  deployment/ansible/roles/k8s/tasks/k3s_setup.yml
  deployment/ansible/roles/k8s/tasks/main.yml
  deployment/ansible/roles/k8s/templates/.gitkeep
  deployment/ansible/roles/k8s/templates/argocd.yaml
  deployment/ansible/roles/k8s/templates/cert-manager.yaml
  deployment/ansible/roles/k8s/templates/traefik.yaml
  deployment/ansible/site.yml
Labels: deployment

#402 Add user provided coordinate in WZW Nord
  data/sources/02_coordinates.yaml
Labels: data

#401 Add a floor property for the infotable
  data/compile.py
  data/data_format_geo-entry.yaml
  data/processors/sections.py
  data/processors/structure.py
  data/processors/tumonline.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
  data/sources/02_rooms-extended.yaml
  data/translations.yaml
  data/utils.py
  openapi.yaml
Labels: data

#416 Add Roomfinder-like maps for CH
  data/sources/45_custom-maps.yaml
  data/sources/img-sources/maps/chemie_roomfinder.svg
  data/sources/img/maps/roomfinder/chemie_0.webp
  data/sources/img/maps/roomfinder/chemie_1.webp
  data/sources/img/maps/roomfinder/chemie_2.webp
  data/sources/img/maps/roomfinder/chemie_3.webp
  data/sources/img/maps/roomfinder/chemie_4.webp
Labels: data

#293 Overlays for StudiTUM Innenstadt
  data/sources/02_coordinates.yaml
  data/sources/45_custom-maps.yaml
  data/sources/46_overlay-maps.yaml
  data/sources/img-sources/maps/studitum-innenstadt.svg
  data/sources/img/maps/overlay/0201_0.webp
  data/sources/img/maps/overlay/0201_1.webp
  data/sources/img/maps/overlay/0201_2.webp
  data/sources/img/maps/overlay/0201_3.webp
  data/sources/img/maps/roomfinder/0201_0.webp
  data/sources/img/maps/roomfinder/0201_1.webp
  data/sources/img/maps/roomfinder/0201_2.webp
  data/sources/img/maps/roomfinder/0201_3.webp
Labels: data
