Repository TUM-Dev/NavigaTUM, pull requests merged in 2023-03, with the labels that each got.

#430 Split coordinates file into multiple files
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/coordinates/0201_studitum-innenstadt.yaml
  data/sources/coordinates/540x_chemie.yaml
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/5532_studitum-garching.yaml
  data/sources/coordinates/rest.yaml
Labels: data

#432 Remove "non-official" disclaimer from docs and improve wording
  README.md
  openapi.yaml
  webclient/src/md/about-us.md
  webclient/src/md/ueber-uns.md
Labels: general

#435 HA Migration
  deployment/README.md
  deployment/ansible/group_vars/all.yml
  deployment/ansible/hosts.ini
  deployment/ansible/roles/k8s-components/tasks/cert-manager.yml
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/components/grafana.yml
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
  deployment/ansible/roles/k8s-components/tasks/components/traefik-dashboard.yml
  deployment/ansible/roles/k8s-components/tasks/main.yml
  deployment/ansible/roles/k8s/handlers/.gitkeep
  deployment/ansible/roles/k8s/tasks/components/argocd.yml
  deployment/ansible/roles/k8s/tasks/components/cert-manager.yml
  deployment/ansible/roles/k8s/tasks/installation.yml
  deployment/ansible/roles/k8s/tasks/main.yml
  deployment/ansible/roles/k8s/tasks/network.yml
  deployment/ansible/roles/k8s/templates/.gitkeep
  deployment/ansible/roles/k8s/templates/argocd.yaml
  deployment/ansible/roles/k8s/templates/cert-manager.yaml
  deployment/ansible/roles/k8s/templates/traefik.yaml
  deployment/ansible/site.yml
  deployment/k3s/templates/networking/ingress.yaml
  resources/deployment/GlobalLayout.png
Labels: deployment

#423 Statefull calendar
  .github/workflows/ci.yml
  deployment/k3s/templates/deployments/backend/calendar-deployment.yaml
  server/calendar/Dockerfile.dbinit
  server/calendar/init_db.py
  server/calendar/src/calendar.rs
  server/calendar/src/main.rs
  server/calendar/src/schema.rs
  server/calendar/src/scraping/continous_scraping.rs
  server/calendar/src/scraping/tumonline_calendar.rs
Labels: deployment, server, priority: low

#282 Updated Overlays for StudiTUM Garching
  data/processors/maps.py
  data/sources/45_custom-maps.yaml
  data/sources/46_overlay-maps.yaml
  data/sources/coordinates/5532_studitum-garching.yaml
  data/sources/img-sources/maps/studitum-garching.svg
  data/sources/img-sources/maps/studitum-garching/edit-for-overlays.xcf
  data/sources/img-sources/maps/studitum-garching/studitum-garching.svg
  data/sources/img/maps/overlay/5532_0.webp
  data/sources/img/maps/overlay/5532_1.webp
  data/sources/img/maps/overlay/5532_2.webp
  data/sources/img/maps/overlay/5532_3.webp
  data/sources/img/maps/overlay/5532_4.webp
  data/sources/img/maps/roomfinder/5532_0.webp
  data/sources/img/maps/roomfinder/5532_1.webp
  data/sources/img/maps/roomfinder/5532_2.webp
  data/sources/img/maps/roomfinder/5532_3.webp
  data/sources/img/maps/roomfinder/5532_4.webp
Labels: data

#456 [autoscraper-1] merged `_write_cache_json` and `_cached_json` into a single decorator
  data/external/main.py
  data/external/scrapers/nat.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
Labels: data

#462 [autoscraper-2] improved log output of scrapers
  data/external/scrapers/nat.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
Labels: data

#474 [SSR-1] Removal of Rendertron
  deployment/k3s/templates/deployments/web/rendertron-deployment.yaml
  deployment/k3s/templates/networking/ingress.yaml
  deployment/k3s/templates/networking/middleware/stripprefix-middleware.yaml
  deployment/k3s/templates/networking/service.yaml
  webclient/nginx.conf
Labels: feature, frontend
